cs230-z07-VebKlijent/src/conf/xml-resources/web-service-references/Geometrija/wsdl/localhost_8080/cs230-z07-WebServisi-war/Geometrija.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.fit.rs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.fit.rs/" name="Geometrija">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.fit.rs/" schemaLocation="http://localhost:8080/cs230-z07-WebServisi-war/Geometrija?xsd=1"/>
</xsd:schema>
</types>
<message name="getKrugObim">
<part name="parameters" element="tns:getKrugObim"/>
</message>
<message name="getKrugObimResponse">
<part name="parameters" element="tns:getKrugObimResponse"/>
</message>
<message name="getPravouganikPovrsina">
<part name="parameters" element="tns:getPravouganikPovrsina"/>
</message>
<message name="getPravouganikPovrsinaResponse">
<part name="parameters" element="tns:getPravouganikPovrsinaResponse"/>
</message>
<message name="getKvadratPovrsina">
<part name="parameters" element="tns:getKvadratPovrsina"/>
</message>
<message name="getKvadratPovrsinaResponse">
<part name="parameters" element="tns:getKvadratPovrsinaResponse"/>
</message>
<message name="getKvadratObim">
<part name="parameters" element="tns:getKvadratObim"/>
</message>
<message name="getKvadratObimResponse">
<part name="parameters" element="tns:getKvadratObimResponse"/>
</message>
<message name="getPravougaonikObim">
<part name="parameters" element="tns:getPravougaonikObim"/>
</message>
<message name="getPravougaonikObimResponse">
<part name="parameters" element="tns:getPravougaonikObimResponse"/>
</message>
<message name="getKrugPovrsina">
<part name="parameters" element="tns:getKrugPovrsina"/>
</message>
<message name="getKrugPovrsinaResponse">
<part name="parameters" element="tns:getKrugPovrsinaResponse"/>
</message>
<portType name="Geometrija">
<operation name="getKrugObim">
<input wsam:Action="http://webservices.fit.rs/Geometrija/getKrugObimRequest" message="tns:getKrugObim"/>
<output wsam:Action="http://webservices.fit.rs/Geometrija/getKrugObimResponse" message="tns:getKrugObimResponse"/>
</operation>
<operation name="getPravouganikPovrsina">
<input wsam:Action="http://webservices.fit.rs/Geometrija/getPravouganikPovrsinaRequest" message="tns:getPravouganikPovrsina"/>
<output wsam:Action="http://webservices.fit.rs/Geometrija/getPravouganikPovrsinaResponse" message="tns:getPravouganikPovrsinaResponse"/>
</operation>
<operation name="getKvadratPovrsina">
<input wsam:Action="http://webservices.fit.rs/Geometrija/getKvadratPovrsinaRequest" message="tns:getKvadratPovrsina"/>
<output wsam:Action="http://webservices.fit.rs/Geometrija/getKvadratPovrsinaResponse" message="tns:getKvadratPovrsinaResponse"/>
</operation>
<operation name="getKvadratObim">
<input wsam:Action="http://webservices.fit.rs/Geometrija/getKvadratObimRequest" message="tns:getKvadratObim"/>
<output wsam:Action="http://webservices.fit.rs/Geometrija/getKvadratObimResponse" message="tns:getKvadratObimResponse"/>
</operation>
<operation name="getPravougaonikObim">
<input wsam:Action="http://webservices.fit.rs/Geometrija/getPravougaonikObimRequest" message="tns:getPravougaonikObim"/>
<output wsam:Action="http://webservices.fit.rs/Geometrija/getPravougaonikObimResponse" message="tns:getPravougaonikObimResponse"/>
</operation>
<operation name="getKrugPovrsina">
<input wsam:Action="http://webservices.fit.rs/Geometrija/getKrugPovrsinaRequest" message="tns:getKrugPovrsina"/>
<output wsam:Action="http://webservices.fit.rs/Geometrija/getKrugPovrsinaResponse" message="tns:getKrugPovrsinaResponse"/>
</operation>
</portType>
<binding name="GeometrijaPortBinding" type="tns:Geometrija">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getKrugObim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPravouganikPovrsina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKvadratPovrsina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKvadratObim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPravougaonikObim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKrugPovrsina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Geometrija">
<port name="GeometrijaPort" binding="tns:GeometrijaPortBinding">
<soap:address location="http://localhost:8080/cs230-z07-WebServisi-war/Geometrija"/>
</port>
</service>
</definitions>